name: Publish VS Code Extension

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions:
  contents: write

concurrency: release-${{ github.ref }}

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
          cache-dependency-path: pnpm-lock.yaml

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Compile
        run: pnpm compile

      - name: Package Extension
        run: pnpm dlx vsce package --no-dependencies -o workspace-chronicle-${{ github.ref_name }}.vsix

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: workspace-chronicle-${{ github.ref_name }}.vsix
          generate_release_notes: true
