name: Publish VS Code Extension

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Package Extension
        run: pnpm dlx vsce package --no-dependencies -o workspace-chronicle-${{ github.ref_name }}.vsix

      - name: Publish to Marketplace
        run: pnpm dlx vsce publish --no-dependencies
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: workspace-chronicle-${{ github.ref_name }}.vsix
          generate_release_notes: true
